{% extends 'admin_services/backendAdmin.html.twig' %}
{% block central %}


    <div class="container">

        <table id="articles" class="table  table-bordered table-hover table-dark   ">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user.role }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="{{ asset('uploads/' ~ user.photo) }}" style="width: 50px;height: 50px"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>


            </tbody>
        </table>

        <a href="{{ path('Getusers') }}" class="btn btn-info">Back</a>

        <a href="{{ path('editUsers', {'id': user.id}) }}" class="btn btn-secondary">edit</a>


    </div>
{% endblock %}
