{% extends 'admin_services/backendAdmin.html.twig' %}
{% block central %}
    <div class="container-xl">

        <h1 style="text-align: center;"><span style="color: #ffffff;"><strong>Offres Requests</strong></span></h1>


    </div>


    </b>


    <table id="articles" class="table  table-bordered table-hover table-dark   ">
        <thead>
        <tr>


            <th>Libele</th>
            <th>Request Sender</th>





            <th style="text-align: center">actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.libele }}</td>
                <td>{{ user.idclient  }}</td>



                <td style="text-align: center">
                    <a href="{{ path('DetailCondidature', {'id': user.id}) }}" class="btn btn-info">show Detail</a>
                    <a href="{{ path('acceptcondidature', {'id': user.id}) }}" class="btn btn-success">Accept Request</a>
     <form method="post" action="{{ path('condidatureeee_crud_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                        <button class="btn btn-dark">Refuse Request</button>

                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    </div>
{% endblock %}
