{% extends 'users_services/baseFrontUserAfterlogin.html.twig' %}

{% block body %}




    <!-- Content here -->
    <div class="container-xl">
        <h1 style="text-align: center;"><span  style="color: #ffffff;"><strong>Detail Offre</strong></span></h1>
        <div class="content-header">
            <table id="articles" class="table  table-bordered table-hover table-dark   ">
                <tbody>
                <tr>
                    <th>libele</th>
                    <td>{{ users.libele }}</td>
                </tr>
                <tr>
                    <th>categorie</th>
                    <td>{{ users.categorie }}</td>
                </tr>
                <tr>
                    <th>datedebut</th>
                    <td>{{ users.datedebut | date }}</td>
                </tr>
                <tr>
                    <th>datefin</th>
                    <td>{{ users.datefin | date }}</td>
                </tr>
                <tr>
                    <th>description</th>
                    <td>{{ users.description }}</td>
                </tr>




                </tbody>
            </table>

        </div>
        <button type="button" class="btn btn-outline-success float-right" style="alignment: left">Postuler</button>

    </div>




{% endblock %}